openapi: 3.0.3
info:
  title: DevPortal API
  description: |
    The DevPortal API provides programmatic access to manage users, resources, and webhooks.
    
    ## Authentication
    
    All API requests require authentication via Bearer token:
    
    ```
    Authorization: Bearer YOUR_API_KEY
    ```
    
    ## Rate Limiting
    
    API requests are rate-limited based on your plan. Rate limit headers are included in every response.
    
    ## Versioning
    
    The API uses URL-based versioning. The current version is v2.
  version: 2.0.0
  contact:
    name: DevPortal Support
    email: support@devportal.io
    url: https://devportal.io/support
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT

servers:
  - url: https://api.devportal.io/v2
    description: Production
  - url: https://staging-api.devportal.io/v2
    description: Staging

security:
  - BearerAuth: []

paths:
  /users:
    get:
      summary: List users
      description: Retrieve a paginated list of users
      operationId: listUsers
      tags:
        - Users
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: per_page
          in: query
          schema:
            type: integer
            default: 20
            maximum: 100
        - name: status
          in: query
          schema:
            type: string
            enum: [active, inactive, all]
            default: all
      responses:
        '200':
          description: A list of users
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserList'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /users/me:
    get:
      summary: Get current user
      description: Retrieve the authenticated user's profile
      operationId: getCurrentUser
      tags:
        - Users
      responses:
        '200':
          description: User profile
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /users/{id}:
    get:
      summary: Get user
      description: Retrieve a user by ID
      operationId: getUser
      tags:
        - Users
      parameters:
        - $ref: '#/components/parameters/UserId'
      responses:
        '200':
          description: User details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

    patch:
      summary: Update user
      description: Update a user's profile
      operationId: updateUser
      tags:
        - Users
      parameters:
        - $ref: '#/components/parameters/UserId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserUpdate'
      responses:
        '200':
          description: Updated user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/ValidationError'

    delete:
      summary: Delete user
      description: Permanently delete a user
      operationId: deleteUser
      tags:
        - Users
      parameters:
        - $ref: '#/components/parameters/UserId'
      responses:
        '204':
          description: User deleted
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /resources:
    get:
      summary: List resources
      description: Retrieve a paginated list of resources
      operationId: listResources
      tags:
        - Resources
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: per_page
          in: query
          schema:
            type: integer
            default: 20
            maximum: 100
        - name: type
          in: query
          schema:
            type: string
            enum: [compute, database, storage, network, ai]
        - name: status
          in: query
          schema:
            type: string
            enum: [active, inactive, pending, error, deleting, all]
            default: all
        - name: region
          in: query
          schema:
            type: string
      responses:
        '200':
          description: A list of resources
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceList'
        '401':
          $ref: '#/components/responses/Unauthorized'

    post:
      summary: Create resource
      description: Create a new resource
      operationId: createResource
      tags:
        - Resources
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResourceCreate'
      responses:
        '201':
          description: Resource created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Resource'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/ValidationError'

  /resources/{id}:
    get:
      summary: Get resource
      description: Retrieve a resource by ID
      operationId: getResource
      tags:
        - Resources
      parameters:
        - $ref: '#/components/parameters/ResourceId'
      responses:
        '200':
          description: Resource details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Resource'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

    put:
      summary: Update resource
      description: Update a resource
      operationId: updateResource
      tags:
        - Resources
      parameters:
        - $ref: '#/components/parameters/ResourceId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResourceUpdate'
      responses:
        '200':
          description: Updated resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Resource'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/ValidationError'

    delete:
      summary: Delete resource
      description: Delete a resource
      operationId: deleteResource
      tags:
        - Resources
      parameters:
        - $ref: '#/components/parameters/ResourceId'
      responses:
        '204':
          description: Resource deleted
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /webhooks:
    get:
      summary: List webhooks
      description: Retrieve all registered webhooks
      operationId: listWebhooks
      tags:
        - Webhooks
      parameters:
        - name: active
          in: query
          schema:
            type: boolean
      responses:
        '200':
          description: A list of webhooks
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookList'
        '401':
          $ref: '#/components/responses/Unauthorized'

    post:
      summary: Create webhook
      description: Register a new webhook
      operationId: createWebhook
      tags:
        - Webhooks
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookCreate'
      responses:
        '201':
          description: Webhook created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Webhook'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/ValidationError'

  /webhooks/{id}:
    get:
      summary: Get webhook
      description: Retrieve a webhook by ID
      operationId: getWebhook
      tags:
        - Webhooks
      parameters:
        - $ref: '#/components/parameters/WebhookId'
      responses:
        '200':
          description: Webhook details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Webhook'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

    patch:
      summary: Update webhook
      description: Update a webhook
      operationId: updateWebhook
      tags:
        - Webhooks
      parameters:
        - $ref: '#/components/parameters/WebhookId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookUpdate'
      responses:
        '200':
          description: Updated webhook
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Webhook'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

    delete:
      summary: Delete webhook
      description: Remove a webhook
      operationId: deleteWebhook
      tags:
        - Webhooks
      parameters:
        - $ref: '#/components/parameters/WebhookId'
      responses:
        '204':
          description: Webhook deleted
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /webhooks/{id}/test:
    post:
      summary: Test webhook
      description: Send a test event to a webhook endpoint
      operationId: testWebhook
      tags:
        - Webhooks
      parameters:
        - $ref: '#/components/parameters/WebhookId'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                event:
                  type: string
                  example: resource.created
      responses:
        '200':
          description: Test event sent
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API Key

  parameters:
    UserId:
      name: id
      in: path
      required: true
      schema:
        type: string
      example: user_abc123

    ResourceId:
      name: id
      in: path
      required: true
      schema:
        type: string
      example: res_xyz789

    WebhookId:
      name: id
      in: path
      required: true
      schema:
        type: string
      example: whk_abc123

  schemas:
    User:
      type: object
      properties:
        id:
          type: string
          example: user_abc123
        email:
          type: string
          format: email
          example: john@example.com
        name:
          type: string
          example: John Doe
        status:
          type: string
          enum: [active, inactive]
          example: active
        role:
          type: string
          enum: [admin, member, viewer]
          example: admin
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
      required:
        - id
        - email
        - name
        - status
        - created_at
        - updated_at

    UserList:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/User'
        pagination:
          $ref: '#/components/schemas/Pagination'

    UserUpdate:
      type: object
      properties:
        name:
          type: string
        email:
          type: string
          format: email
        status:
          type: string
          enum: [active, inactive]

    Resource:
      type: object
      properties:
        id:
          type: string
          example: res_xyz789
        name:
          type: string
          example: Production DB
        type:
          type: string
          enum: [compute, database, storage, network, ai]
        status:
          type: string
          enum: [active, inactive, pending, error, deleting]
        region:
          type: string
          example: us-east-1
        created_by:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        metadata:
          type: object
      required:
        - id
        - name
        - type
        - status
        - region
        - created_at

    ResourceList:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Resource'
        pagination:
          $ref: '#/components/schemas/Pagination'

    ResourceCreate:
      type: object
      properties:
        name:
          type: string
        type:
          type: string
          enum: [compute, database, storage, network, ai]
        region:
          type: string
        status:
          type: string
          enum: [active, inactive]
          default: active
        metadata:
          type: object
      required:
        - name
        - type
        - region

    ResourceUpdate:
      type: object
      properties:
        name:
          type: string
        status:
          type: string
          enum: [active, inactive, pending, error]
        metadata:
          type: object

    Webhook:
      type: object
      properties:
        id:
          type: string
        url:
          type: string
          format: uri
        events:
          type: array
          items:
            type: string
        active:
          type: boolean
        created_at:
          type: string
          format: date-time
        last_triggered:
          type: string
          format: date-time
          nullable: true
      required:
        - id
        - url
        - events
        - active
        - created_at

    WebhookList:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Webhook'
        pagination:
          $ref: '#/components/schemas/Pagination'

    WebhookCreate:
      type: object
      properties:
        url:
          type: string
          format: uri
        events:
          type: array
          items:
            type: string
        secret:
          type: string
        active:
          type: boolean
          default: true
      required:
        - url
        - events

    WebhookUpdate:
      type: object
      properties:
        url:
          type: string
          format: uri
        events:
          type: array
          items:
            type: string
        secret:
          type: string
        active:
          type: boolean

    Pagination:
      type: object
      properties:
        total:
          type: integer
          example: 100
        per_page:
          type: integer
          example: 20
        current_page:
          type: integer
          example: 1
        total_pages:
          type: integer
          example: 5
        has_next:
          type: boolean
          example: true
        has_prev:
          type: boolean
          example: false
        next_cursor:
          type: string
          nullable: true
          example: eyJpZCI6MjB9
        prev_cursor:
          type: string
          nullable: true
          example: null

    Error:
      type: object
      properties:
        error:
          type: string
        message:
          type: string
        status:
          type: integer
        details:
          type: array
          items:
            type: object
        request_id:
          type: string

  responses:
    Unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error: unauthorized
            message: Invalid or missing API key
            status: 401

    NotFound:
      description: Not Found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error: not_found
            message: Resource not found
            status: 404

    ValidationError:
      description: Validation Error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error: validation_error
            message: Request validation failed
            status: 422
            details:
              - field: email
                message: Must be a valid email address

    RateLimit:
      description: Rate Limit Exceeded
      headers:
        Retry-After:
          schema:
            type: integer
        X-RateLimit-Limit:
          schema:
            type: integer
        X-RateLimit-Remaining:
          schema:
            type: integer
        X-RateLimit-Reset:
          schema:
            type: integer
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error: rate_limit_exceeded
            message: Rate limit exceeded
            status: 429
            retry_after: 3600
